
@media  only screen and (max-width: 768px) {
    .imglogo{
        width: 250px !important;
    }
}
@media  only screen and (max-width: 1024px) {
    .imglogo{
        /* width: 30px !important; */ 
        display:none;
    }
}
@media  only screen and (min-width: 1025px) {
    .imglogo{
        width: 250px    !important;
    }
}

.hd1{
    color: #836096;
    background-color: rgb(240, 184, 110);
    font-size: 30px; 
    float: left;
    text-align: center;
    margin-top: 25px;
    margin-left: 20px;
    font-weight: 700;
}
.menu_home{
    width: 250px; 
    height: 255px; 
    background: rgba(133, 102, 181, 0.61); 
    box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    float: left;
    text-align: center;
    margin: 70px;
    margin-right: 50px;
    z-index: 5;
}


.menu-item1 a{
    color: #fff;
    text-underline-offset: 20px;
    margin: 30px 25px; 
    text-align: center; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 25px; 
    line-height: 10px;
    font-size: 20px;
}

.block01{
    width: 850px; 
    height: 1150px; 
    background: #8566B5;
    border-radius: 20px;
    float: right;
    text-align: center;
    margin-top: 75px;
    margin-right: 100px;
}

.per{
    width: 770px;
    height: 250px;
    background: rgba(234, 219, 255, 0.61) ;
    border-radius: 10px;
    text-align: left;
    margin: auto;
    margin-top: 20px;
}

.img{
    float: left;
    width: 155px;
    height: 220px;
    border-radius: 10px;
    margin-top: 15px;
    margin-left: 10px;
}

.content-pad .item-title {
    font-size: 28px;
    font-weight: 400;
    color: #29075E;
    margin-bottom: 10px;
    line-height: 1;
}

.item-content{
    border-top: #29075E;
    padding: 20px ;
}

.member-tax {
    border-top:3px #8566B5 ;
    margin-top: 17px;
    padding-top: 14px; ;
    padding-bottom: 6px;
}

.per2 {
    width: 450px;
    height: 100px;
    background: rgb(255, 255, 255) ;
    border-radius: 10px;
    margin: auto;
    margin-top: 10px;
}

.oox {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
    float: right;
    text-align: left;
    margin: auto;
    margin-top: 20px;
}

.per3 {
    width: 450px;
    height: 80px;
    background: rgb(255, 255, 255) ;
    margin-right: 60px;
    border-radius: 10px;
    margin-top: 10px;
}
