
@media  only screen and (max-width: 768px) {
    .imglogo{
        width: 250px !important;
    }
}
@media  only screen and (max-width: 1024px) {
    .imglogo{
        /* width: 30px !important; */ 
        display:none;
    }
}
@media  only screen and (min-width: 1025px) {
    .imglogo{
        width: 250px    !important;
    }
}

.hd1{
    color: #836096;
    background-color: rgb(240, 184, 110);
    font-size: 30px; 
    float: left;
    text-align: center;
    margin-top: 25px;
    margin-left: 20px;
    font-weight: 700;
}
.menu_home{
    width: 250px; 
    height: 255px; 
    background: rgba(133, 102, 181, 0.61); 
    box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    float: left;
    text-align: center;
    margin: 70px;
    margin-right: 50px;
    z-index: 5;
}


.menu-item1 {
    color: #fff;
    text-underline-offset: 20px;
    margin: 30px 25px; 
    text-align: center; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 25px; 
    line-height: 10px;
    font-size: 20px;
}

.block01{
    width: 850px; 
    height: 1170px; 
    background: #8566B5;
    border-radius: 20px;
    float: right;
    text-align: center;
    margin-top: 75px;
    margin-right: 100px;
    margin-bottom: 100px;
}

.block02{
    width: 850px; 
    height: 650px; 
    background: #8566B5;
    border-radius: 20px;
    float: right;
    text-align: center;
    margin-top: 75px;
    margin-right: 100px;
    margin-bottom: 100px;
}

.per{
    width: 770px;
    height: 250px;
    background: rgba(234, 219, 255, 0.61) ;
    border-radius: 10px;
    text-align: left;
    margin: auto;
    margin-top: 20px;
}

.img{
    float: left;
    width: 155px;
    height: 220px;
    border-radius: 10px;
    margin-top: 15px;
    margin-left: 10px;
}

.content-pad .item-title {
    font-size: 28px;
    font-weight: 400;
    color: #29075E;
    margin-bottom: 10px;
    line-height: 1;
}

.item-content{
    border-top: #29075E;
    padding: 20px ;
}

.member-tax {
    border-top:3px #8566B5 ;
    margin-top: 17px;
    padding-top: 14px; ;
    padding-bottom: 6px;
}

.per2 {
    width: 450px;
    height: 100px;
    background: rgb(255, 255, 255) ;
    border-radius: 10px;
    margin: auto;
    margin-top: 10px;
}

.oox {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
    float: right;
    text-align: left;
    margin: auto;
    margin-top: 20px;
}

.per3 {
    width: 450px;
    height: 80px;
    background: rgb(255, 255, 255) ;
    margin-right: 60px;
    border-radius: 10px;
    margin-top: 10px;
}

.footer-color{
    color: white;
    bottom: 0px;
    min-width: 100%;
    width: 100vw;
    bottom: 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.footer-wrapper {
    display: flex;
    background: var(--footer-background);
    flex-direction: column;
    max-width: 1320px;
    padding: 16px;
}

.footer-line {
    display: block;
    width: 100%;
    height: 8px;
}


.footer-subscribe {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
}

.footer-subscribe > input {
    border: 1px solid var(--button-border);
    color: var(--text-color);
    outline: none;
    min-height: 36px;
    background-color: var(--footer-background);
    font-size: 1.2rem;
    flex: 1 0 120px;
    padding: 8px 12px;
    border-radius: 8px;
}

.footer-subscribe > input::placeholder {
    color: var(--text-color);
}

.footer-subscribe > button {
    color: white;
    cursor: pointer;
    background-color: var(--button-color);
    border-radius: 8px;
    font-size: 1.25rem;
    min-width: 120px;
    min-height: 36px;
    flex: 1 0 80px;
    white-space: nowrap;
    padding: 8px 12px;
    border: 0px;
    outline: none;
    border: 1px solid var(--button-border);
}


.footer-columns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex: 2 0 140px;
    width: 100%;
    gap: 16px;
    padding: 24px 8px 16px 8px;
    margin-left: 10PX;
}

.footer-columns h3 {
    color: var(--text-primary);
    margin-top: 0;
    margin-bottom: 25px;
    font-size: 1.125rem;
}
.footer-centering {
    margin: 0 auto;
}

.footer-columns > section {
    min-width: 150px;
}



.footer-bottom {
    text-align: center;
    margin-top: 48px;
    display: flex;
    align-items: center;
    width: 100%;
    gap: 16px;
    padding: 16px 0px;
    flex-wrap: wrap;
    justify-content: space-between;
    color: var(--text-gray);
}

.footer-bottom > small {
    font-size: 16px;
    margin: 0 4px;
}

.footer-line {
    display: block;
    min-width: 40px;
    height: 2px;
    background-color: var(--text-gray);
}


.social-links {
    display: flex;
    gap: 8px;
    align-items: center;
}

.social-text {
    display: flex;
    align-items: center;
    gap: 8px;
}

.social-links img {
    width: 24px;
    height: 24px;
    transition: all 0.2s ease-in-out;
}

.social-links img:hover {
    transform: scale(1.1);
}

.social-links ul {
    display: flex;
    gap: 12px;
    list-style-type: none;
}

.widget-inner{
    color: white;
}
